<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/app-creative.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/app-creative.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/icons.min.css' %}">
	{% comment %} <script src="{% static 'js/bootstrap.js' %}"/> {% endcomment %}
  {% block head %}{% endblock %}
  <title>{% block title %}SFU Exchange{% endblock %}</title>
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	{% comment %} Navbar  {% endcomment %}
	<div class='navbar-custom'>
		<ul class='list-unstyled topbar-menu float-end mb-0'>
			<li class="dropdown notification-list">
				<a class="nav-link dropdown-toggle arrow-none" 
					data-bs-toggle="dropdown" 
					href="#" 
					role="button" 
					>
						<i class="dripicons-bell noti-icon"></i>
						<span class="noti-icon-badge"></span>
				</a>
				<div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg" style="">
						<!-- Title -->
						<div class="dropdown-item noti-title">
								<h5 class="m-0">
										<span class="float-end">
												<a href="#" class="text-dark">
														<small>Clear All</small>
												</a>
										</span>
										Notifications
								</h5>
						</div>
						<!--TODO: Notifications go here-->


						<!--View All Button-->
						<a href="#" 
							 class="dropdown-item text-center text-primary notify-item notify-all">
								View All
						</a>

				</div>
			</li>
			<li class='dropdown notification-list'>
				<a class='nav-link dropdown-toggle nav-user arrow-none me-0'>
					<span class='account-user-avatar'>
						<img class='rounded-circle' alt='img' src={{user.img}}>
					</span>
					<span class='account-user-name'>{{user.first_name}} {{user.last_name}}</span>
					<span class='account-position'>{{user.username}}</span>
				</a>
			</li>
		</ul>
	</div>
	{% comment %} Main Page Content {% endcomment %}
	{% block content %}{% endblock %}

	{% comment %} Footer?  {% endcomment %}
</body>
</html>
