.header-grid {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  grid-area: header;
  background-color: #CC0633;
}

.answers-grid {
  top: 0;
  right: 0; 
  left: 0;
  bottom: 0;

  display: grid;
  grid-template-areas: 
    'vote answer answer'
    'vote answer answer'
    'vote answer answer';
  grid-gap: 2px;

}

.vote-grid {
  grid-area: vote;
}

.answer-grid {
  grid-area: answer;
  padding-top: 20px;
}