body {
  font-family: "Noto Sans";
}

header {
  background-color: var(--sfu-red);
}

.tags-container {
  display: flex;
  flex-direction: column;
  background-color: green;
}

.tags-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  background-color: blue;
  list-style-type: none;
}

.tag-item {
  background-color: yellow;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 120px;
  width: 240px;
}

.tag-content {
  padding-left: 5px;
  padding-top: 5px;
}

.tag-name {
  display: block;
  background-color: rgba(0, 252, 252, 0.363);
  color: rgb(38, 0, 252);
  font-weight: bold;
  padding: 0.25em 0.5em;
}
