{% extends "base.html" %} 
  	{% block head %}
    	{% load static %}
			<link rel="stylesheet" type="text/css" href="{% static 'exchange/shared.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'exchange/login.css' %}">
			<link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
  	{% endblock %}
	{% block title %}Exchange Login{% endblock %}
{% block content %}
	<div class="header"></div>
	<div class="container">
		<div class="alert alert-primary" role="alert">
			This is a primary alert—check it out!
		</div>
	</div>
	<div class="login-container">
		<h1><img src="../../static/exchange/sfu_logo.png" width="120" height="60" alt="SFU Logo" /> SFU <span
				class="login-title">Exchange</span></h1>
		<p>Q&amp;A for SFU students past and present</p>
		<input type="text" name="email" placeholder="email" class="login-input" required>
		<input type="password" name="password" class="login-input" placeholder="password" required>
		<a href="/exchange/profile"><input type="button" value="Login" class="login-btn"></a>
		<a href="/exchange/register">
			<p id="register-link"> First time? Click to register</p>
		</a>
	</div>
{% endblock %}

