{% extends "base.html" %}
  {% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'exchange/notifications.css' %}" />
  {% endblock %}
{% block title %}Notifications{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row" id="header">
      <div class="col">
        <h1 class="title">All Notifications</h1>
      </div>
    </div>

    <hr/>

    <div class="row" id="notifications">
      <div>
         {% if notifications %}
         {% for notification in notifications %}
         <div class='row'>
            <div class="col">
               <div class="col-sm-11">
                  <div class="row" id="notification-title">
                     <a href="{{ notification.url }}"><h3 style="padding: 0; margin-top: 10px;color: red">{{ notification.notification_title }}</h3></a>
                  </div>
                  <div class="row pb-1" id="notification-summary">
                     {{ notification.notification_text }}
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="d-flex align-items-end flex-column">
                  <div>{{ notification.created_at }}</div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
    </div>
          
    <!--Simple Pagination-->
    <ul class='pagination d-flex justify-content-center'>
      <li class='page-item'>
        <a class='page-link' href="?page=1 {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">First</a>
      </li>
      
      {% if notifications.has_previous %}
      <li class='page-item'>
        <a class='page-link' href="?page={{user_list.previous_page_number}} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{notifications.previous_page_number}}</a>
      </li>
      {% endif %}
      
      <li class='page-item active'>
        <a class='page-link' href="?page={{user_list.number}} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{notifications.number}}</a>
      </li>
      
      {% if notifications.has_next %}
      <li class='page-item'>
        <a class='page-link' href="?page={{user_list.next_page_number}} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{notifications.next_page_number}}</a>
      </li>
      {% endif %}
      
      <li class='page-item'>
        <a class='page-link' href='?page={{user_list.paginator.num_pages}} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}'>Last</a>
      </li>
    </ul>
    {% else %}
      <p>No notifications available in database</p>
    {% endif %}
  </div>
{% endblock %}

