{% extends "base.html" %}
  {% block head %}
		{% load static%}
	{% endblock %}
{% block title %}Edit Profile {% endblock %}
{% block content %}
  <h1>Edit Your Profile</h1>

  <form action="{% url 'Profile Edit' %}" method='post'>
    {% csrf_token %}
      <div class='card'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-md-6'>
              <div class='mb-3'>
                <label class="form-label">First Name</label>
                {{form.first_name}}
              </div>
            </div>
            <div class='col-md-6'>
              <div class='mb-3'>
                <label class="form-label">Last Name</label>
                {{form.last_name}}
              </div>
            </div>
            <div class='col-12'>
              <div class='mb-3'>
                <label class="form-label">Bio</label>
                {{form.bio}}
              </div>
            </div>
            <div class='col-md-6'>
              <div class='mb-3'>
                <label class="form-label">Faculty</label>
                {{form.faculty_id}}
              </div>
            </div>
            <div class='col-md-6'>
              <div class='mb-3'>
                <label class="form-label">Image</label>
                {{form.img}}
              </div>
            </div>
          </div>
        </div>
        <div class='card-footer d-flex'>
          <input class='btn btn-primary' type='submit' value="Submit">
        </div>
      </div>
  </form>

{% endblock %}