{% extends "base.html" %}
  {% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'exchange/questions_detail.css' %}" />
  {% endblock %}
{% block title %}Question Detail{% endblock %}
{% block content %}
  <div class="question-detail-grid">
    <div class="header-grid">Header</div>
    <div class="question-grid">
      <h2>{{ question.title }}</h2>
      <p>{{ question.question_text }}</p>
      <p>{{ question.created_at }}</p>
    </div>
  </div>
{% endblock %}