{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'exchange/questions_detail.css' %}" />
  </head>
  <body>
    <div class="question-detail-grid">
      <div class="header-grid">Header</div>
      <div class="question-grid">
        <h1>{{ question.title }}</h1>
        <h2>{{ question.question_text }}</h2>
        <p>{{ question.created_at }}</p>
      </div>
    </div>
  </body>
</html>