{% extends "base.html" %}
  {% block head %}
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'exchange/questions.css' %}" /> -->
  {% endblock %}
{% block title %}Questions{% endblock %}
{% block content %}
  <div class="questions-grid">
    <div class="all-questions-grid">
      <h1>All Questions</h1>
      {% if questions_list %}
        <ul>
          {% for question in questions_list %}
            <li>
              <div class="question-detail-grid">
                <div class="vote-grid">
                  <p>&#9651;</p>
                  <p>&#9661;</p>
                </div>
                <div class="question-grid">
                  <a href="/exchange/questions/{{ question.id }}/{{ question.slug }}">{{ question.title }}</a>
                  <div class="question-description">{{ question.question_text }}</div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No questions available in database</p>
      {% endif %}
    </div>
    <div class="menu-grid">
      <ul>
        <li>
          <a class="users-link" href="{% url 'Users' %}">Users</a>
        </li>
        <li>
          <a class="tags-link" href="{% url 'Tags' %}">Tags</a>
        </li>
        <li>
          <a class="ask-link" href="{% url 'Submit_Question' %}">Ask a Question</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}