{% extends "base.html" %}
  {% block head %}
    {% load static %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'exchange/questions_detail.css' %}" /> {% endcomment %}
  {% endblock %}
{% block title %}Question Detail{% endblock %}
{% block content %}
  <div class="container-fluid">
    <!--Title and Ask Question Button-->
    <div class="row" id="header-row">
      <div class="col">
        <h1 class="title">{{ question.title }}</h1>
      </div>
      <div class="col" style="padding-top: 12px;">
        <div class="d-flex justify-content-end">
          <a href="/exchange/questions/ask">
            <button type="button" class="btn btn-primary" id="ask-button">Ask A Question</button>
          </a>
        </div>
      </div>
    </div>

    <!--Date Asked-->
    <div class="row" id="user-date-row">
      <div class="col">
        Asked <b>{{ question.created_at }}</b>
      </div>
    </div>

    <hr>

    <!--Points, Question Description, User-->
    <div class="row mb-4" id="votes-description-row">
      <div class="col-sm-1">
        <div class="d-flex align-items-center flex-column">
          <div class="col">
            <div class="upvote">
              <svg width="36" height="36">
                <path d="M2 26h32L18 10 2 26Z" fill="currentColor"></path>
              </svg>
            </div>
            <div class="text-center">{{ question.votes }}</div>
            <div class="downvote">
              <svg width="36" height="36">
                <path d="M2 10h32L18 26 2 10Z" fill="currentColor"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-11 p-2">
        <div class="row pb-2">
          {{ question.question_text | safe }}
        </div>
        <div class="row">
          {% for tag in question.tags.all %}
            <a href="#" class="badge bg-secondary d-inline-flex align-items-center justify-content-center me-1 my-1" style="width: 4rem; height: 1rem;">
              {{ tag }}
            </a>
          {% endfor %}
        </div>
        <div class="row justify-content-end">
          <div class="col">
            <div class="d-flex align-items-end flex-column">
              <div class="col" id="user-box" style="background-color: hsl(206deg 65% 91%); padding: 5px;">
                <div class="text-left">asked {{ question.created_at }}</div>
                {% if question.anonymous %}
                  <div class="text-left"><b>{{ question.user_id }}</b></div>
                {% else %}
                  {% if question.user_id == user %}
                    <a href="/exchange/profile">{{ question.user_id }}</a>
                  {% else %}
                    <a href="/exchange/users/{{ question.user_id.id }}/{{ question.user_id.username }}">{{ question.user_id }}</a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Answers Header-->
    <div class="row">
      <h3>Answers</h3>
    </div>

    <hr/>

    <!--All Answers-->
    {% if answers %}
      {% for answer in answers %}
        <div class="row mb-4">
          <div class="col-sm-1">
            <div class="d-flex align-items-center flex-column">
              <div class="col">
                <div class="upvote">
                  <svg width="36" height="36">
                    <path d="M2 26h32L18 10 2 26Z" fill="currentColor"></path>
                  </svg>
                </div>
                <div class="text-center">{{ answer.votes }}</div>
                <div class="downvote">
                  <svg width="36" height="36">
                    <path d="M2 10h32L18 26 2 10Z" fill="currentColor"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-11 p-2">
            <div class="row pb-2">
              {{ answer.answer_text | safe }}
            </div>
            <div class="row justify-content-end">
              <div class="col">
                <div class="d-flex align-items-end flex-column">
                  <div class="col" id="user-box" style="background-color: hsl(206deg 65% 91%); padding: 5px;">
                    <div class="text-left">answered {{ answer.created_at }}</div>
                    <div class="text-left">last modified {{ answer.last_edited }}</div>
                      {% if answer.anonymous %}
                        <div class="text-left"><b>{{ answer.user_id }}</b></div>
                      {% else %}
                        {% if answer.user_id == user %}
                          <a href="/exchange/profile">{{ answer.user_id }}</a>
                        {% else %}
                          <a href="/exchange/users/{{ answer.user_id.id }}/{{ answer.user_id.username }}">{{ answer.user_id }}</a>
                        {% endif %}
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
        <p>No Answers to This Question</p>
    {% endif %}

    <hr />

    <div class="row">
      {% if user.is_authenticated %}
        <form action="" method="post">
          {% csrf_token %}
          <h3 class="title">Your Answer</h3>
          {{ answerForm.answer_text }}
          <div class="d-flex flex-row mb-2">
            Ask Anonymously 
            <div style="padding-top: 2px; margin-left: 2px;">{{ answerForm.anonymous }}</div>
          </div>
          <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
      {% else %}
        <p>Please login to post a reply.</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
