{% extends "base.html" %}
  {% block head %}
    {% load static %}
    {% load crispy_forms_tags %}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{% static 'exchange/questions_submit.css' %}" />
  {% endblock %}
{% block title %}Submit Question{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="header">Ask a Question</h1>
      </div>
    </div>

    <hr />
    <div class="row">
      <form action="" method="post">
        {% csrf_token %}
        <h4 class="title">Title</h4>
        {{ form.title }}
        <h4 class="body">Body</h4>
        {{ form.question_text }}
        <div class="d-flex flex-row">
          Ask Anonymously 
          <div style="padding-top: 2px; margin-left: 1rem;">{{ form.anonymous }}</div>
        </div>
        <h4 class="tags">Tags</h4>
        {{ form.tags }}
        
        <input class="btn btn-primary mt-3" type="submit" value="Submit" />
      </form>
    </div>
  </div>
  {{ form.media.js }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}