{% extends "base.html" %}
  {% block head %}
    {% load static %}
    {% load my_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'exchange/questions.css' %}" />
  {% endblock %}
{% block title %}Questions{% endblock %}
{% block content %}
  <div class="container-fluid mt-2">
    <div class="row" id="header">
      <div class="col">
        <h1 class="title">All Questions</h1>
      </div>
      <div class="col" style="padding-top:12px;">
        <div class="d-flex justify-content-end">
          <a href="/exchange/questions/ask">
            <button type="button" class="btn btn-primary" id="ask-button">Ask A Question</button>
          </a>
        </div>
      </div>
    </div>


    <div class='btn-group justify-content-end'>
      <a type="button" href="?filter='new'" class="btn btn-light">Newest</a>
      <a type="button" href="?filter='popular'" class="btn btn-light">Popular</a>
      <a type="button" href="?filter='unanswered'" class="btn btn-light">Unanswered</a>
    </div>

    <hr/>

    <div class="row" id="questions">
      <div class="col">
        {% if questions_list %}
          {% for question in questions_list %}
            <div class="row" id="question-summary">
              <div class="col-sm-1 align-self-center">
                <div class="d-flex align-items-center flex-column">
                  <div class="col">
                    <div class="text-center">{{ question.votes }}</div>
                    <div class="text-center">Votes</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-11">
                <div class="row" id="question-title">
                  <a href="/exchange/questions/{{ question.id }}/{{ question.slug }}" style="padding: 0;"><h3>{{ question.title }}</h3></a>
                </div>
                <div class="row pb-1" id="question-summary">
                  {{ question.question_text | safe }}
                </div>
                <div class="row" id="tags-users">
                  <div class="col">
                    <div class="row">
                      {% for tag in question.tags.all %}
                        <a href="?{% param_replace tag=tag.id%}" class="badge bg-secondary d-inline-flex align-items-center justify-content-center me-1 my-1" style="width: 4rem; height: 1rem;">
                          {{ tag }}
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col">
                    <div class="d-flex align-items-end flex-column">
                      <div class="col">
                        <div class="text-left">Asked {{ question.created_at }}</div>
                          {% if question.anonymous %}
                            <div class="text-left"><b>anonymous</b></div>
                          {% else %}
                            {% if question.user_id == user %}
                              <a href="/exchange/profile">{{ question.user_id }}</a>
                            {% else %}
                              <a href="/exchange/users/{{ question.user_id.id }}/{{ question.user_id.username }}">{{ question.user_id }}</a>
                            {% endif %}
                          {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="question-divider"/>
          {% endfor %}
        </ul>
      </div>

      <ul class='pagination d-flex justify-content-center'>
        <li class='page-item'>
          <a class='page-link' href="?{% param_replace page=1%}">First</a>
        </li>
        
        {% if questions_list.has_previous %}
        <li class='page-item'>
          <a class='page-link' href="?{% param_replace page=questions_list.previous_page_number%}">{{questions_list.previous_page_number}}</a>
        </li>
        {% endif %}
        
        <li class='page-item active'>
          <a class='page-link' href="?{% param_replace page=questions_list.number%}">{{questions_list.number}}</a>
        </li>
        
        {% if questions_list.has_next%}
        <li class='page-item'>
          <a class='page-link' href="?{% param_replace page=questions_list.next_page_number%}">{{questions_list.next_page_number}}</a>
        </li>
        {% endif %}
        
        <li class='page-item'>
          <a class='page-link' href="?{% param_replace page=questions_list.paginator.num_pages%}">Last</a>
        </li>            
      </ul>


      {% else %}
        <p>No questions found.</p>
      {% endif %}


    </div>
  </div>
{% endblock %}

