{% extends "base.html" %}
  {% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'exchange/questions.css' %}" />
  {% endblock %}
{% block title %}Questions{% endblock %}
{% block content %}
  <div class="questions-grid">
    <div class="all-questions-grid">
      {% if query %}
      <h1>Search results for '{{ query }}'</h1>
      {% else %}
      <h1>Newest Questions</h1>
      {% endif %}
      {% if search_results %}
        <ul>
          {% for question in search_results %}
            <li>
              <div class="question-detail-grid">
                <div class="vote-grid">
                  <p>&#9651;</p>
                  <p>&#9661;</p>
                </div>
                <div class="question-grid">
                  <a href="/exchange/questions/{{ question.id }}/{{ question.slug }}">{{ question.title }}</a>
                  <div class="question-description">{{ question.question_text }}</div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No results found :(</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
