{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link 
        rel="stylesheet", 
        type="text/css", 
        href="{% static 'exchange/shared.css' %}"
    >
    <link 
        rel="stylesheet", 
        type="text/css", 
        href="{% static 'exchange/tags.css' %}"
    >
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
</head>
<body>
    <header>
        <p><img src="../../static/exchange/sfu_logo.png" width="120" height="60" alt="SFU Logo" /> Exchange </p>
    </header>

    <main>
        <h1>Tags</h1>
        <p>Tags are used to help refine your searches to find questions you are looking for.<br>Select relevant tags for your question to help others find it.</p>
        <div class="tags-container">
            {% if tags_list %}
              <ul class="tags-grid">
                {% for tag in tags_list %}
                  <li class="tag-item">
                    <div class="tag-content">
                        <span class="tag-name">{{tag.name}}</span>
                        <p>For questions pertaining to the tag mentioned above, which is {{tag.name}}. Note that this is sample text.</p>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No tags available in database</p>
            {% endif %}
          </div>
    </main>
</body>
</html>