{% extends "base.html" %}
  {% block head %}
    {% load static %}
    <link rel="stylesheet" , type="text/css" , href="{% static 'exchange/shared.css' %}">
		<link rel="stylesheet" , type="text/css" , href="{% static 'exchange/tags.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
  {% endblock %}
{% block title %}Users{% endblock %}
{% block content %}
    <h1>Users</h1>
    <div class="tags-container">
      {% if user_list %}
        <ul >
          {% for user in user_list %}
            <li>{{user.username}}</li>
          {% endfor %}
        </ul>
        
        <!--Simple Pagination-->
        <ul class='pagination'>
            <li class='page-item'>
              <a class='page-link' href='?page=1'>First</a>
            </li>
            
            {% if user_list.has_previous %}
            <li class='page-item'>
              <a class='page-link' href="?page={{user_list.previous_page_number}}">{{user_list.previous_page_number}}</a>
            </li>
            {% endif %}
            
            <li class='page-item active'>
              <a class='page-link' href="?page={{user_list.number}}">{{user_list.number}}</a>
            </li>
            
            {% if user_list.has_next %}
            <li class='page-item'>
              <a class='page-link' href="?page={{user_list.next_page_number}}">{{user_list.next_page_number}}</a>
            </li>
            {% endif %}
            
            <li class='page-item'>
              <a class='page-link' href='?page={{user_list.paginator.num_pages}}'>Last</a>
            </li>
            
        </ul>

      {% else %}
        <p>Looks like there are no users, become the first by creating an account!</p>
      {% endif %}
    </div>
{% endblock %}